.git
.gitignore
.venv
venv
env
__pycache__
**/__pycache__
*.pyc
*.pyo
dataset
training_eval_logs
notebook
inference_results
test_images
api_test_results
*.md
*.ps1
response_*.json
.dockerignore
.vscode
.idea
